.employeersFilter {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    &__filterField {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}
